<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Picture:</strong>
   <%= image_tag(@movie.picture, :width => '30px') %>
   <!-- <img src = <%=  @movie.picture %> style = 'width: 30px' > -->
</p>
<h2>Add a comment:</h2>
<%= form_for([@movie, @movie.comments.build]) do |f| %>
<%# form_for(@movie) do |f| %>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
